<div class="container">


  <router-outlet></router-outlet>


  <section class='translate'>

    <h2>{{ title }}</h2>

    <label translate>changeLanguage</label>
    <select #language (change)="onChange(language.value)">
      <option *ngFor="let lang of translateService.getLangs()" [value]="lang">{{
        lang | translate
        }}</option>
    </select>

    <h3>{{ "keywordDefinition" | translate }}</h3>

    <table>
      <tr>
        <th translate>key</th>
        <th translate>value</th>
      </tr>
      <tr>
        <td>example1</td>
        <td translate>example1</td>
      </tr>
      <tr>
        <td>example2.title</td>
        <td translate>example2.title</td>
      </tr>
      <tr>
        <td>example3.title</td>
        <td translate>example3.title</td>
      </tr>
      <tr>
        <td>example3.title.subtitle</td>
        <td translate>example3.title.subtitle</td>
      </tr>
      <tr>
        <td>example4.withCustomValue</td>
        <td>{{'example4.withCustomValue' | translate: {customValue:customNumberValue} }}</td>
      </tr>
      <tr>
        <td>example5.fromTypeScript</td>
        <td>{{ translationFormTypeScript }}</td>
      </tr>
    </table>


  </section>

  <div class='created-by'>
    Angular Test Master ©2022 Created by

    <a
       href='https://maxim-saharov.com.ua'
       target='_blank' rel='noopener noreferrer'
       class='pad-left-10px'
    >
      Maxim Saharov
    </a>

    <span class='pad-left-10px'>|</span>

    <a
       href='https://github.com/maxim-saharov/angular-test-master'
       target='_blank' rel='noopener noreferrer'
       class='pad-left-10px'
    >
      GitHub
    </a>

  </div>


</div>


