<main *ngIf='college && translations'>

   <nav class='navbar'>
      <ul>
         <li>
            <a [routerLink]="['/about']" class='active'>{{
               translations["About"]
               }}</a>
         </li>
         <li>
            <a [routerLink]="['/courses']">{{ translations["Courses"] }}</a>
         </li>
         <li>
            <a [routerLink]="['/teachers']">{{ translations["Teachers"] }}</a>
         </li>
         <li>
            <a [routerLink]="['/contacts']">{{ translations["Contacts"] }}</a>
         </li>
      </ul>
   </nav>


   <h1>{{ college?.name }}</h1>


   <section>
      <div class='user-photo'>
         <img src='{{ college.photo }}' alt='' />
      </div>
      <div [innerHTML]='college.about' class='college-description'></div>
   </section>
</main>
